BasedOnStyle: LLVM
AlignAfterOpenBracket: false
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AllowShortCaseLabelsOnASingleLine: true
BreakTemplateDeclarations: Yes
ColumnLimit: 100
FixNamespaceComments: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
PackConstructorInitializers: NextLine
PointerAlignment: Left
SortIncludes: Never
Standard: c++20
TabWidth: 4
